---
import Layout from "../layouts/Layout.astro";
7;

import Header from "../components/Header.astro";
import YdelserogPriser from "../components/YdelserogPriser.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <h1>hej</h1>
  <Header />
  <YdelserogPriser />
  <Footer />
</Layout>
