---

---

<header>
  <div class="logo">
    <!-- Midlertidig placeholder-SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="40" height="40">
      <circle cx="50" cy="50" r="40" fill="#abbfa8" />
  </div>

  <!--Navigation links-->
  <nav>
    <a href="/">FORSIDE</a>
    <a href="/ydelser">YDELSER/PRISER</a>
    <a href="/stemmeovelser">STEMMEØVELSER</a>
    <a href="/om-mig">OM MIG</a>
    <a href="/kontakt">KONTAKT</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f5ede6; 
  }

  /*Det her skal rettes senere*/
  .logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    gap: 2rem;
  }

  nav a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #2d2d2d;
  }

 /*Det her skal rettes senere*/
   nav a:hover {
    text-decoration: underline;
  }
</style>




