---

---

<header>
  <div class="logo">
    <!-- Midlertidig placeholder-SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="40" height="40">
      <circle cx="50" cy="50" r="40" fill="#abbfa8" />
  </div>

  <!--Navigation links-->
  <nav>
    <a href="/">FORSIDE</a>
    <a href="/ydelser">YDELSER/PRISER</a>
    <a href="/stemmeovelser">STEMMEØVELSER</a>
    <a href="/om-mig">OM MIG</a>
    <a href="/kontakt">KONTAKT</a>
  </nav>
</header>



