<section class="Hero_section">
      <h1>Din stemme fortjener ro og styrke</h1>
      <div>
       <img src="/public/hero/hero.webp" alt="hero_billede" class="hero_billede">
      </div>
      <h3>Velkommen - jeg hedder Carina Müller og jeg hjælper børn, unge og voksne med at finde ro og styrke i stemmen. Både når stemmen driller, spænder op, eller når du ønsker at udvikle dig som sanger Book en uforpligtende samtale - du fortæller, og jeg lytter.</h3>
      <div>
        <a href="/src/pages/kontakt.astro" class="gratis_samtale">Gratis samtale</a>
      </div>
    </section>

    <style>
.hero_billede{
     margin: 0px;
  width: 100%;
  height: auto;
}
h1{
    text-align: center;
      
}
h3{
    text-align: left;
}
.Hero_section{
    background-color: #DBE4DB;
}
.gratis_samtale{
     display: inline-block;
  background-color: #3d8992;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
/* Desktop */
@media screen and (min-width: 800px) {
  .grid-1_1 {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}
    </style>