---
---
 <div class="grid-1_1">
  <div>
    <h1>Hvad jeg tilbyder:</h1>

    <div>
      <h2>Stemmevanskeligheder</h2>
      <ul>
        <li>Hjælp til hæshed, spændinger, stammen og stemmer, der bliver trætte eller svigter</li>
      </ul>
    </div>

    <div>
      <h2>Rytmisk sangundervisning</h2>
      <ul>
        <li>For både begyndere og øvede, der vil synge frit og styrket - uden pres.</li>
      </ul>
    </div>

    <div>
      <h2>Stemmetræning for professionelle</h2>
      <ul>
        <li>Stemmeundervisning til undervisere, foredragsholdere og andre, der bruger stemmen hver dag.</li>
      </ul>
    </div>

    <div>
      <h2>Tryg stemmetræning for børn og unge</h2>
      <ul>
        <li>For børn og unge med spændinger eller stemmeproblemer - med leg og tryghed i fokus.</li>
      </ul>
    </div>

    <a href="/ydelser" class="info_knap">Ydelser</a>
  </div>

  <div class="billede">
    <img src="/portrætter/ydelser2.webp" alt="IMG" />
  </div>
</div>

<style>
.grid-1_1 {
  padding: 2rem;
}

/* Billedet skjules i mobil versionen*/
.billede {
  display: none;
}

img {
  width: 100%;
  height: auto;
  margin-top: 26px;
}


h1, h2, h3 {
  text-align: left;
  margin-left: 20px;
}

.info_knap {
  display: inline-block;
  background-color: #3d8992;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem 1rem;
  transition: transform 0.2s ease;
}
  .info_knap:hover {
    transform: translateY(-6px); /* Løfter logoet let ved hover */
  }

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .grid-1_1 {
    display: block; 
    padding: 3rem;
  }

  .billede img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

/* Desktop*/
@media screen and (min-width: 1024px) {
  .grid-1_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    padding: 4rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .billede {
    display: block;
  }
}
</style>