<h1>Carina Müller</h1>
    <h2>Stemmekonsulent, sangcoach & kropsterapeut</h2>
        <div class="grid-1_1">
            <div class="info_ommig">
      <h1 class="hvem_erjeg">Hvem er jeg</h1>
      <p>Mit navn er Carina Müller, jeg er 48 år og bor i Helsingør, hvor jeg også har mit eget undervisningslokale.</p>
      <p>jeg er:
        <ul>
        <li>Diplomuddannet logopæd med speciale i tale- og stemmevanskeligheder</li>
        <li>Uddannet sangerinde fra Nordjysk Musikkonservatorium med diplom i sang og sangskrivning</li>
        <li>Videreuddannet gennem kurser hos bl.a. Cathrine Sadolin, Jo Estill og Åse Ørsted</li>
        </ul>
        <p>Jeg har over 25 års erfaring med undervisning og kursusafvikling på alle niveauer.</p>
        <p>Undervisningen foregår både i mine egne lokaler, på Dal-logopædisk klinik og ude hos klienter, elever eller virksomheder.</p>
        <p>Derudover er jeg sangerinde, sangskriver og udøvende musiker </p>
        <p>Jeg er medlem af ALF (Audiologopædisk Forening) - www.alf.dk</p>
      </p>
      </div>
      <div><img src="/portrætter/P1260096.webp" alt="protrætbillede"></div>
      </div>
<style>
/* mobil */

.grid-1_1 {
  grid-template-columns: 1fr;
  display: grid;
}
img {
  width: 70%;
  display: block;      
  margin: 0 auto;       

}
h1{
    text-align: center;
    font-size: 2rem;
}
h2{
    text-align: center;
}
p{
    text-align: left;
}
.hvem_erjeg{
    text-align: left;
}
.info_ommig{
text-align: left;
margin: 20px;
}
/* desktop */
@media screen and (min-width: 800px){
  .grid-1_1 {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  h1{
    text-align: center;
  }
  .info_ommig{
margin: 40px;
padding-left: 49px;
}
img {
  width: 67%;
  display: block;      
  margin: 0 auto;       
margin-top: 67px;
}

} 


</style>