<h1>Carina Müller</h1>
    <h2>Stemmekonsulent, sangcoach & kropsterapeut</h2>
        <div class="grid-1_1">
            <div class="info_ommig">
      <h1 class="hvem_erjeg">Hvem er jeg</h1>
      <p>Mit navn er <strong>Carina Müller</strong>, jeg er <strong>48 år</strong> og bor i <strong>Helsingør</strong>, hvor jeg også har mit eget undervisningslokale.</p>
      <p>jeg er:
        <ul>
        <li><strong>Diplomuddannet logopæd</strong> med speciale i tale- og stemmevanskeligheder</li>
        <li><strong>Uddannet sangerinde</strong> fra <strong>Nordjysk Musikkonservatorium</strong> med diplom i sang og sangskrivning</li>
        <li>Videreuddannet gennem kurser hos bl.a. <strong>Cathrine Sadolin, Jo Estill og Åse Ørsted</strong></li>
        </ul>
        <p>Jeg har over <strong>25 års erfaring</strong> med undervisning og kursusafvikling på alle niveauer.</p>
        <p><strong>Undervisningen foregår</strong> både i mine egne lokaler, på <strong>Dal-logopædisk klinik</strong> og ude hos klienter, elever eller virksomheder.</p>
        <p>Derudover er jeg <strong>sangerinde, sangskriver og udøvende musiker</strong> </p>
        <p>Jeg er medlem af <strong>ALF (Audiologopædisk Forening)</strong> - www.alf.dk</p>
      </p>
      </div>
      <div><img src="/portrætter/hvemerjeg.webp" alt="protrætbillede"></div>
      </div>
<style>
/* mobil */

.grid-1_1 {
  grid-template-columns: 1fr;
  display: grid;
}
img {
  width: 70%;
  display: block;      
  margin: 0 auto;       

}
h1{
    text-align: center;
    font-size: 2rem;
}
h2{
    text-align: center;
}
p{
    text-align: left;
    line-height: 1.7;
}

li {
    line-height: 1.7;
}
.hvem_erjeg{
    text-align: left;
}
.info_ommig{
text-align: left;
margin: 20px;
}
/* desktop */
@media screen and (min-width: 800px){
  .grid-1_1 {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  h1{
    text-align: center;
  }
  .info_ommig{
    margin: 40px;
    padding-left: 200px;
}
  img {
  width: 50%;
  display: block;      
  margin: 0 auto;       
  margin-top: 67px;
}

} 


</style>