---

---

<section class="contact-info">
    <h2 class="kontaktoplysninger">KONTAKTOPLYSNINGER</h2>
    <p><strong>Carina Müller</strong><br/>
    Stemmekonsulent og Sangcoach</p>
    <p><strong>TLF:</strong> 27 14 76 41<br/>
    <strong>CVR:</strong> 35711562</p>
    <p><strong>Adresse:</strong><br/>
    Gl. Hellebækvej 3A, 3000 Helsingør</p>
   
    
    <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.146819436734!2d12.568337815927257!3d55.67609628053517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652530b10a0b875%3A0x7f8b9e76f6d5b117!2sK%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1620835841234!5m2!1sda!2sdk"
          width="100%"
          height="400"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
</section>

    
    <section class="contact-info2">
        <p><strong>Du er meget velkommen til at ringe til mig på telefon 27147641, eller kontakte mig via formularen.</strong><br/>
        <p><strong>Jeg glæder mig til at høre fra dig.</strong><br/>  
    </section>


    <!-- kontaktmig mobilefirst --> 
    <style> 
      .contact-info {
  padding: 2rem 1rem;
  font-family: 'Bebas Neue", sans-serif';
}

.kontaktoplysninger {
    padding-bottom: 5rem;
}

.contact-info h2 {
  text-align: center;
  
}

.contact-info2 {
    padding: 2rem 1rem;
   
}

.contact-info iframe {
  width: 100%;
  height: 250px;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px;
}  
    </style>

   <!-- Desktop -->
   <style>
@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  .contact-form {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }

  .contact-form .image-side {
    flex: 1;
    max-width: 40%;
  }

  .contact-form .form-side {
    flex: 1;
    max-width: 55%;
  }

  .map-container {
    width: 50%;
  height: 250px;
  margin-top: 1rem;
  border: 0;
  border-radius: 8px; 
}

}


    </style>