---

---

<section class="se_stemme">
<h1>Prøv en stemmeøvelse - Gratis og uforpligtende </h1>
<div class="undertekst">
<p>At arbejde med stemmen handler ikke kun om teknik - det handler om tryghed, vejrtrækning og kropsligt nærvær.</p>

<p>Derfor tilbyder jeg små, guidede stemmeøvelser, du kan prøve allerede nu.
</p>
<p>    Uanset om du kæmper med spændinger, nervøsitet eller bare vil mærke stemmen igen, kan du starte her - i dit eget tempo.</p>
<a href="/stemmeovelser" class="button">Se stemmeøvelser</a>
</div> 
</section>

<style>
     a{
        display: inline-block;
  background-color: #3d8992;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1.5rem;
  
}  

.se_stemme{
    background: #e1ede3;
    /* padding: 10rem; */
    padding-left: 7rem;
    padding-right: 7rem;
}

.undertekst {
    text-align:start;
}
</style>