---

---

<section class="se_stemme">
<h1>Prøv en stemmeøvelse - Gratis og uforpligtende </h1>
<div class="undertekst">
<p>At arbejde med stemmen handler ikke kun om teknik - det handler om tryghed, vejrtrækning og kropsligt nærvær.</p>

<p>Derfor tilbyder jeg små, guidede stemmeøvelser, du kan prøve allerede nu. Uanset om du kæmper med spændinger, nervøsitet eller bare vil mærke stemmen igen, kan du starte her - i dit eget tempo.
</p>
<a href="/stemmeovelser" class="button">Se stemmeøvelser</a>
</div> 
</section>

<style>
a{
    display: inline-block;
  background-color: #3d8992;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1.5rem;
   transition: transform 0.2s ease;
}  
  a:hover {
    transform: translateY(-6px); 
  }

.se_stemme {
  background: #e1ede3;
  padding: 4rem 30vw;
  text-align: left;
}

.se_stemme h1 {
  font-size: 2rem;
  margin-bottom: 2rem; 
}

.undertekst {
    text-align:start;
}

.undertekst p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem; 
  max-width: 750px; 
}
</style>