
<h1 class="titel">Ydelser og Priser</h1>

 <div class="grid-1_1">
    <!-- card -->
    <div class="card">
    <img src="/public/sangundervisning/p1260425.webp" alt="IMG" />
    <h2>COACHING I SANG</h2>
    <p>
      Få professionel hjælp til at styrke din stemme, finde dit udtryk og få mere frihed i din sang. Uanset niveau arbejder vi med teknik, fortolkning og det personlige udtryk.
    </p>
    <div class="price">60 min – 600 KR</div>
    <a href="#" class="btn">BOOK</a>
  </div>
   <!-- card -->
  <div class="card">
    <img src="/public/sangundervisning/p1260321.webp" alt="IMG" />
    <h2>COACHING I PERFORMACE</h2>
    <p>
      Få redskaber til at stå stærkere på scenen – med nærvær, kontakt og autenticitet. Vi arbejder med krop, vejrtrækning og mental forberedelse, så du kan performe med ro.
    </p>
    <div class="price">60 min – 650 KR</div>
    <a href="#" class="btn">BOOK</a>
  </div>
   <!-- card -->
  <div class="card">
 <img src="/public/behandlinger/p1260208.webp" alt="IMG" />
    <h2>KROPSTERAPI BEHANDLING</h2>
    <p>
      En nænsom og dybdegående kropsbehandling, der hjælper dig med at slippe spændinger og skabe forbindelse mellem krop og sind. God til dig, der føler dig stresset, presset eller har svært ved at trække vejret frit.  
    </p>
    <div class="price">75 min – 700 KR</div>
    <a href="#" class="btn">BOOK</a>
  </div>
   <!-- card -->
  <div class="card">
 <img src="/public/behandlinger/p1260141.webp" alt="IMG" />
    <h2>UNDERVISNING I VIRKSOMHEDER, SKOlER OG INSTITUTIONER</h2>
    <p>
      Tilpassede workshops og forløb om stemmebrug, kropssprog og performance – målrettet undervisere, ledere eller kreative faggrupper. Fokus på kommunikation, autenticitet og arbejdsglæde.
    </p>
    <div class="price">Kontakt for tilbud – priser fra 1.200 kr/timen</div>
    <a href="/Kontakt" class="btn">BOOK</a>
  </div>
  </div>
  </body>

  <style>
/* Her er mobil  */
.card {
  max-width: 400px;
  margin: 1rem auto;
  background-color: #dbe4db;
  border-radius: 20px;
  padding: 1.8rem;
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3; 
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}


.titel{
  margin-top: 3rem;
  margin-bottom: 5rem;
}
h1 {
  text-align: center;
  font-family: ;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  background-color: #3d8992;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn:hover {
  transform: translateY(-4px);
  color: #1c1c1c;
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Desktop */
@media screen and (min-width: 800px) {  
  .grid-1_1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 5rem; 
    row-gap: 3rem; 
    justify-content: center;
    align-items: start;
  }
}

 @media (min-width: 600px) {
  .grid-1_1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 3rem; 
    row-gap: 3rem;     
    justify-content: center;
    align-items: start;
    padding: 0 2rem; 
  }
}

  </style>