 
 <div class="grid-1_1">
    <!-- card -->
    <div class="card">
    <img src="/public/sangundervisning/p1260425.webp" alt="IMG" />
    <h2>COACHING I SANG</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href="#" class="btn">BOOK</a>
    <div class="price">PRIS: 200 KR</div>
  </div>
   <!-- card -->
  <div class="card">
    <img src="/public/sangundervisning/p1260321.webp" alt="IMG" />
    <h2>COACHING I PERFORMACE</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href="#" class="btn">BOOK</a>
    <div class="price">PRIS: 200 KR</div>
  </div>
   <!-- card -->
  <div class="card">
 <img src="/public/behandlinger/p1260208.webp" alt="IMG" />
    <h2>KROPSTERAPI BEHANDLING</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href="#" class="btn">BOOK</a>
    <div class="price">PRIS: 200 KR</div>
  </div>
   <!-- card -->
  <div class="card">
 <img src="/public/behandlinger/p1260141.webp" alt="IMG" />
    <h2>UNDERVISNING I VIRKSOMHEDER, SKOlER OG INSTITUTIONER</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href="#" class="btn">BOOK</a>
    <div class="price">PRIS: 200 KR</div>
  </div>
  </div>
  </body>

  <style>
/* Her er mobil  */
.card {
  max-width: 400px;
  margin: 2rem auto;
  background-color: #dbe4db;
  border-radius: 20px;
  padding: 1.5rem;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}
h1 {
  text-align: center;
  font-family: ;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.btn {
  display: inline-block;
  background-color: #3d8992;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.price {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Desktop */
@media screen and (min-width: 800px) {
  .grid-1_1 {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}
  </style>