<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carina Müller</title>

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%2338929c%22></rect><path fill=%22%23fff%22 d=%22M28.60 79.52Q22.12 79.52 18.72 75.83Q15.31 72.14 15.31 65.42L15.31 65.42L15.31 34.58Q15.31 27.86 18.72 24.17Q22.12 20.48 28.60 20.48L28.60 20.48Q35.08 20.48 38.48 24.17Q41.88 27.86 41.88 34.58L41.88 34.58L41.88 40.65L33.35 40.65L33.35 34.01Q33.35 28.68 28.84 28.68L28.84 28.68Q24.33 28.68 24.33 34.01L24.33 34.01L24.33 66.07Q24.33 71.32 28.84 71.32L28.84 71.32Q33.35 71.32 33.35 66.07L33.35 66.07L33.35 57.30L41.88 57.30L41.88 65.42Q41.88 72.14 38.48 75.83Q35.08 79.52 28.60 79.52L28.60 79.52ZM47.29 78.70L47.29 21.30L60.17 21.30L65.91 62.38L66.07 62.38L71.81 21.30L84.69 21.30L84.69 78.70L76.16 78.70L76.16 35.24L75.99 35.24L69.43 78.70L61.89 78.70L55.33 35.24L55.17 35.24L55.17 78.70L47.29 78.70Z%22></path></svg>" />
		
		<!-- Fonts -->
		 <!-- H1, H2 og H3-->
		  	<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emilys+Candy&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		
		<!-- p -->
		 	<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emilys+Candy&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	
		</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		height: 100%;
    	background-color: #fdf5ed;
		overflow-x: hidden;
		max-width: 100vw;

	}
h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: "Libre Baskerville", serif;
}
a, button {
	font-family: "Bebas Neue", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 1.4rem;
}
</style>
